*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #0d0d1a;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
}